# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.DS_Store
CheckDist copy 2.pdf
CheckDist copy 3.pdf
.DS_Store
CheckDist copy 4.pdf
CheckDist copy.pdf
CheckDist.pdf
CVI_data_pct.csv
CVI_data_scale.csv
.DS_Store
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
ToxPi-subcat.pdf
CVI_data_pct.gis.csv
.DS_Store
Data/2010 Tracts/2010tracts.shx
Data/2010 Tracts/2010tracts.shp
Data/2010 Tracts/2010tracts.qmd
Data/2010 Tracts/2010tracts.prj
Data/2010 Tracts/2010tracts.dbf
Data/2010 Tracts/2010tracts.cpg
~$CVI Indicators Framework.pptx
.DS_Store
Data/CVI Tracts.RData
Data/CVI Tracts/CVItracts.dbf
Data/CVI Tracts/CVItracts.prj
Data/CVI Tracts/CVItracts.shp
Data/CVI Tracts/CVItracts.shx
Data/CVI ToxPi Tracts/CVIToxPiTracts.shx
Data/CVI ToxPi Tracts/CVIToxPiTracts.shp
Data/CVI ToxPi Tracts/CVIToxPiTracts.prj
Data/CVI ToxPi Tracts/CVIToxPiTracts.dbf
Data/CVI ToxPi Tracts.RData
.DS_Store
Data/CVI Data Tracts.zip
Data/CVI Pct Tracts.zip
Data/CVI ToxPi Tracts.zip
Data/CVI ToxPi.CC: Extreme Events.zip
Data/CVI ToxPi.CC: Health.zip
Data/CVI ToxPi.CC: Social & Economic.zip
Data/CVI ToxPi.Environment.zip
Data/CVI ToxPi.Health.zip
Data/CVI ToxPi.Infrastructure.zip
Data/CVI ToxPi.Social & Economic.zip
CVI_ToxPi_CodeExample.R
Data/CVI ToxPi.CC.Extreme.Events/CVIToxPiCC.Extreme.Events.dbf
Data/CVI ToxPi.CC.Extreme.Events/CVIToxPiCC.Extreme.Events.prj
Data/CVI ToxPi.CC.Extreme.Events/CVIToxPiCC.Extreme.Events.shp
Data/CVI ToxPi.CC.Extreme.Events/CVIToxPiCC.Extreme.Events.shx
Data/CVI ToxPi.CC.Health/CVIToxPiCC.Health.dbf
Data/CVI ToxPi.CC.Health/CVIToxPiCC.Health.prj
Data/CVI ToxPi.CC.Health/CVIToxPiCC.Health.shp
Data/CVI ToxPi.CC.Health/CVIToxPiCC.Health.shx
Data/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.dbf
Data/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.prj
Data/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.shp
Data/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.shx
Data/CVI ToxPi.Environment/CVIToxPiEnvironment.dbf
Data/CVI ToxPi.Environment/CVIToxPiEnvironment.prj
Data/CVI ToxPi.Environment/CVIToxPiEnvironment.shp
Data/CVI ToxPi.Environment/CVIToxPiEnvironment.shx
Data/CVI ToxPi.Health/CVIToxPiHealth.dbf
Data/CVI ToxPi.Health/CVIToxPiHealth.prj
Data/CVI ToxPi.Health/CVIToxPiHealth.shp
Data/CVI ToxPi.Health/CVIToxPiHealth.shx
Data/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.dbf
Data/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.prj
Data/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.shp
Data/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.shx
Data/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.dbf
Data/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.prj
Data/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.shp
Data/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.shx
Data/CVI Data Tracts/CVIDataTracts.dbf
Data/CVI Data Tracts/CVIDataTracts.prj
Data/CVI Data Tracts/CVIDataTracts.shp
Data/CVI Data Tracts/CVIDataTracts.shx
Data/CVI Pct Tracts/CVIPctTracts.dbf
Data/CVI Pct Tracts/CVIPctTracts.prj
Data/CVI Pct Tracts/CVIPctTracts.shp
Data/CVI Pct Tracts/CVIPctTracts.shx
Data/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.dbf
Data/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.prj
Data/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.shp
Data/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.shx
Shapefiles/CVI Data Tracts/CVIDataTracts.dbf
Shapefiles/CVI Data Tracts/CVIDataTracts.prj
Shapefiles/CVI Data Tracts/CVIDataTracts.shp
Shapefiles/CVI Data Tracts/CVIDataTracts.shx
Shapefiles/CVI Pct Tracts/CVIPctTracts.dbf
Shapefiles/CVI Pct Tracts/CVIPctTracts.prj
Shapefiles/CVI Pct Tracts/CVIPctTracts.shp
Shapefiles/CVI Pct Tracts/CVIPctTracts.shx
Shapefiles/CVI ToxPi Tracts/CVIToxPiTracts.dbf
Shapefiles/CVI ToxPi Tracts/CVIToxPiTracts.prj
Shapefiles/CVI ToxPi Tracts/CVIToxPiTracts.shp
Shapefiles/CVI ToxPi Tracts/CVIToxPiTracts.shx
Shapefiles/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.dbf
Shapefiles/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.prj
Shapefiles/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.shp
Shapefiles/CVI ToxPi.CC.ExtremeEvents/CVIToxPiCC.ExtremeEvents.shx
Shapefiles/CVI ToxPi.CC.Health/CVIToxPiCC.Health.dbf
Shapefiles/CVI ToxPi.CC.Health/CVIToxPiCC.Health.prj
Shapefiles/CVI ToxPi.CC.Health/CVIToxPiCC.Health.shp
Shapefiles/CVI ToxPi.CC.Health/CVIToxPiCC.Health.shx
Shapefiles/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.dbf
Shapefiles/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.prj
Shapefiles/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.shp
Shapefiles/CVI ToxPi.CC.Social.Economic/CVIToxPiCC.Social.Economic.shx
Shapefiles/CVI ToxPi.Environment/CVIToxPiEnvironment.dbf
Shapefiles/CVI ToxPi.Environment/CVIToxPiEnvironment.prj
Shapefiles/CVI ToxPi.Environment/CVIToxPiEnvironment.shp
Shapefiles/CVI ToxPi.Environment/CVIToxPiEnvironment.shx
Shapefiles/CVI ToxPi.Health/CVIToxPiHealth.dbf
Shapefiles/CVI ToxPi.Health/CVIToxPiHealth.prj
Shapefiles/CVI ToxPi.Health/CVIToxPiHealth.shp
Shapefiles/CVI ToxPi.Health/CVIToxPiHealth.shx
Shapefiles/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.dbf
Shapefiles/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.prj
Shapefiles/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.shp
Shapefiles/CVI ToxPi.Infrastructure/CVIToxPiInfrastructure.shx
Shapefiles/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.dbf
Shapefiles/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.prj
Shapefiles/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.shp
Shapefiles/CVI ToxPi.Social.Economic/CVIToxPiSocial.Economic.shx
CVI-county-pct/CVI-county_data_maxpct.pdf
CVI-county-pct/CVI-county_data_pct.pdf
CVI-county-pct/CVI-county_data_fracNA.pdf
.DS_Store
Shapefiles/CVI Baseline ToxPi Tracts/CVIBaselineToxPiTracts.dbf
Shapefiles/CVI Baseline ToxPi Tracts/CVIBaselineToxPiTracts.prj
Shapefiles/CVI Baseline ToxPi Tracts/CVIBaselineToxPiTracts.shp
Shapefiles/CVI Baseline ToxPi Tracts/CVIBaselineToxPiTracts.shx
Shapefiles/CVI Climate ToxPi Tracts/CVIClimateToxPiTracts.dbf
Shapefiles/CVI Climate ToxPi Tracts/CVIClimateToxPiTracts.prj
Shapefiles/CVI Climate ToxPi Tracts/CVIClimateToxPiTracts.shp
Shapefiles/CVI Climate ToxPi Tracts/CVIClimateToxPiTracts.shx
